html
    include header
    body
         .row
            .columns(class="medium-8")
                .row
                    .columns(id="ttt-board-container" class="small-10 small-centered medium-8 medium-centered")
                        p Sorry, this room is full.
        script(src="game-client.js")