
<html>
<head>
<title>Redis Experiment</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/foundation/css/normalize.css"/><link rel="stylesheet" href="/foundation/css/foundation.css"/><link rel="stylesheet" href="/foundation-icon-fonts/foundation-icons.css"/>
<link rel="stylesheet" href="/game-client.css">
</head>
<body>
<div class="row">
<div id="board" class="columns small-8 medium-7">
<div class="row">
<div id="ttt-board-container" class="columns small-12 medium-10 medium-centered large-8 large-centered">
<ul id="ttt-board" class="small-block-grid-3"></ul></div></div></div>
<div id="stats" class="columns small-4 medium-5">
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/foundation/js/foundation.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>
<script id="itemTpl" type="text/template">
    <li class="ttt-li"><% if (allDisabled || marker > 0) { %>
      <a href="#" id= "<%= slotNum %>" class="button ttt-button disabled">
      <% if(marker === 1) {%>
          <i class="ttt-piece fi-record"></i>
      <%} else if(marker === 2){ %>
          <i class="ttt-piece fi-x"></i>
      <%} else {%>
          <i class="ttt-piece fi-x" style="opacity: 0;"></i>
      <%}%>
    <% } else { %>
      <a href="#" id= "<%= slotNum %>" class="button ttt-button"><i class="ttt-piece fi-record" style="opacity: 0;"></i>
    <% } %>
    </a></li>
</script>
<script src="/game-client.js"></script>
</body>
</html>